<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Talent_Addmission_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Talent_Addmission_System.Properties.Settings>
            <setting name="dataSourcePath" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="accessTableName" serializeAs="String">
                <value>students_table</value>
            </setting>
            <setting name="imagesLocation" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="settingsState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="programsList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Windows 10</string>
                        <string>Windows 11</string>
                        <string>MacOS</string>
                        <string>MS Word 2022</string>
                        <string>MS Excel 2022                             </string>
                        <string>MS Access 2022</string>
                        <string>MS PowerPoint 2022</string>
                        <string>Office Package</string>
                        <string>Adobe Photoshop Basics</string>
                        <string>Adobe Photoshop Retouching</string>
                        <string>Adobe Photoshop Designing</string>
                        <string>Adobe Premier</string>
                        <string>Adobe After Effect</string>
                        <string>Adobe Illustrator</string>
                        <string>C Language</string>
                        <string>C++</string>
                        <string>OOP</string>
                        <string>C#</string>
                        <string>Java</string>
                        <string>Python</string>
                        <string>Kotlin</string>
                        <string>Android Application developement</string>
                        <string>HTML</string>
                        <string>CSS</string>
                        <string>JavaScript</string>
                        <string>Todays Need</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="activationCode" serializeAs="String">
                <value>XXXXX-XXXXX-XXXXX-XXXXX-XXXXX</value>
            </setting>
            <setting name="courseAddress" serializeAs="String">
                <value>Abu Talib Road, Gali French Bakery, Quetta</value>
            </setting>
            <setting name="contactNumber" serializeAs="String">
                <value>+92 313 1454166</value>
            </setting>
            <setting name="adminLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="paymentTable" serializeAs="String">
                <value>payments_table</value>
            </setting>
        </Talent_Addmission_System.Properties.Settings>
    </userSettings>
</configuration>